/GNUmakefile
/build/
/.cache/
/.vscode/
/arm-qemu-build64-dbg/
/arm-build64-dbg/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
